<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!/adm-principal" class="brand-logo">Avaliação de docentes - Módulo Admnistrador</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Meus Dados</a></li>
            <li><a href="#!/login">Sair</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="collection with-header">
                <h4 class="collection-header">Alunos</h4>
                <a href="#!/cadastrar-aluno" class="collection-item">Cadastrar</a>
                <a href="#!" class="collection-item">Atualizar</a>
                <a href="#!" class="collection-item">Remover</a>
                <a href="#!" class="collection-item">Ver alunos</a>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="collection with-header">
                <h4 class="collection-header">Administradores</h4>
                <a href="#!/cadastrar-adm" class="collection-item">Cadastrar</a>
                <a href="#!" class="collection-item">Atualizar</a>
                <a href="#!" class="collection-item">Remover</a>
                <a href="#!" class="collection-item">Ver administradores</a>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="collection with-header">
                <h4 class="collection-header">Cursos</h4>
                <a href="#!" class="collection-item">Cadastrar</a>
                <a href="#!" class="collection-item">Atualizar</a>
                <a href="#!" class="collection-item">Remover</a>
                <a href="#!" class="collection-item">Ver cursos</a>
            </div>
        </div>
    </div>
</div>