<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title"><h4>Cadastrar administrador</h4></span>

                    <div class="row">
                        <div class="input-field col s8 m8">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="nome" type="text" class="validate" data-ng-model="Admin.adm.nome">
                            <label for="nome">Nome</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s8 m8">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate" data-ng-model="Admin.adm.email">
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s8 m8">
                            <i class="material-icons prefix">fingerprint</i>
                            <input id="senha" type="password" class="validate" data-ng-model="Admin.adm.senha">
                            <label for="senha">Senha</label>
                        </div>
                    </div>

                </div>
                <div class="card-action">
                    <a href="#!/adm-principal">Voltar</a>
                    <a href="" data-ng-click="Admin.cadastrar(Admin.adm)">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>
</div>