<div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><h4>Cadastrar aluno</h4></span>
    
                        <div class="row">
                            <div class="input-field col s8 m8">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="nome" type="text" class="validate" data-ng-model="Aluno.aluno.nome">
                                <label for="nome">Nome</label>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="input-field col s8 m8">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="matricula" type="text" class="validate" data-ng-model="Aluno.aluno.matricula">
                                <label for="matricula">Matricula</label>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="input-field col s8 m8">
                                <i class="material-icons prefix">fingerprint</i>
                                <input id="senha" type="password" class="validate" data-ng-model="Aluno.aluno.senha">
                                <label for="senha">Senha</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s8 m8">
                                <i class="material-icons prefix">fingerprint</i>
                                <input id="senha" type="text" class="validate" data-ng-model="Aluno.aluno.codCurso">
                                <label for="senha">Cod. Curso</label>
                            </div>
                        </div>
    
                    </div>
                    <div class="card-action">
                        <a href="#!/adm-principal">Voltar</a>
                        <a href="" data-ng-click="Aluno.cadastrar(Aluno.aluno)">Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>