<div class="container">
    <div class="row">
        <div class="col s2 m2">
            <!--UTILIZADO PARA CENTRALIZAR O CAMPO DE LOGIN-->
        </div>
        <div class="col s8 m8">
            <div class="card" style="position:absolute; top:25%; width:50%; height:40%;">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="user" data-ng-model="Login.form.usuario" type="text" class="validate">
                            <label for="user">Usuário</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">fingerprint</i>
                            <input id="password" data-ng-model="Login.form.senha" type="password" class="validate">
                            <label for="password">Senha</label>
                        </div>
                    </div>
                    <div align="right">
                        <a href="">
                            <button type="submit" class="waves-effect waves-light btn-large" data-ng-disabled="checked" data-ng-click="Login.login(Login.form)" name="action">
                                Entrar <i class="material-icons right">send</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s2 m2">
            <!--UTILIZADO PARA CENTRALIZAR O CAMPO DE LOGIN-->
        </div>
    </div>
</div>